<!DOCTYPE html>

<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container">
      <span class="text-body-secondary">This websites uses data from the Alpha Vantage API free tier, which has a rate limit of 25 requests per day.</span>
    </div>
  </footer>